<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Cadastrar Funcionário</title>
</head>
<body>
    <header>
        <h2>Cadastrar Novo Funcionário</h2>
    </header>
    <main>
        <form action="/cadastro" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="matricula">Matrícula:</label>
            <input type="text" id="matricula" name="matricula" required>

            <button type="submit">Cadastrar</button>
        </form>
    </main>
</body>
</html>
