<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Cadastrar Funcionário</title>
    <style>
        .botao-teste {
            float: right;
            padding: 10px 20px;
            background-color: #007BFF;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
        .botao-teste:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <header>
        <h2>Cadastrar Novo Funcionário</h2>
    </header>
    <main>
        <form action="cadastro" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="matricula">Matrícula:</label>
            <input type="text" id="matricula" name="matricula" required>

            <button type="submit">Cadastrar</button>
            <div class="botao-container">
                <a href="/" class="botao-voltar">Página Inicial</a>
            </div>           
        </form>
    </main>
</body>
</html>
