<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Entregas</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Consulta de Entregas de Uniformes</h1>
    </header>

    <main>
        <form action="/consulta" method="POST">
            <label for="matricula">Matrícula do Funcionário:</label>
            <input type="text" id="matricula" name="matricula" required>
            <button type="submit">Consultar</button>
            <div class="botao-container">
                <a href="/" class="botao-voltar">Página Inicial</a>
            </div>
        </form>

        {% if registros %}
            <h2>Resultados da Consulta</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Matrícula</th>
                        <th>Data de Retirada (Camisa)</th>
                        <th>Data de Retirada (Calça)</th>
                         <th>Retirada de Sapato</th>
                        <th>Observações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros %}
                    <tr>
                        <td>{{ registro.nome }}</td>
                        <td>{{ registro.matricula }}</td>
                        <td>{{ registro.data_camisa }}</td>
                        <td>{{ registro.data_calca }}</td>
                        <td>{% if registro.sapato %} Sim {% else %} Não {% endif %}</td>
                        <td>{{ registro.observacao }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif consulta_realizada %}
            <p>Nenhum registro encontrado para a matrícula informada.</p>
        {% endif %}
    </main>

    <footer>
        <p>Sistema de Controle de Uniformes &copy; 2024</p>
    </footer>
</body>
</html>
