<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Registrar Entrega</title>
</head>
<body>
    <header>
        <h2>Registrar Entrega de Uniforme</h2>
    </header>
    <main>
        <form action="/entrega" method="POST">
            <label for="matricula">Matrícula do Funcionário:</label>
            <input type="text" id="matricula" name="matricula" required>

            <label for="camisa">Retirada de Camisa:</label>
            <input type="checkbox" id="camisa" name="camisa">

            <label for="calca">Retirada de Calça:</label>
            <input type="checkbox" id="calca" name="calca">

            <label for="sapato">Retirada de Sapato:</label>
            <input type="checkbox" id="sapato" name="sapato">

            <label for="observacao">Observação:</label>
            <textarea id="observacao" name="observacao"></textarea>

            <button type="submit">Registrar Entrega</button>
            <div class="botao-container">
                <a href="/" class="botao-voltar">Página Inicial</a>
            </div>
        </form>
    </main>
</body>
</html>
